*{
  background-color: blanchedalmond;
  font-family: monospace;
  font-weight: lighter;
}
.center{
  text-align: center;
}

.padding{
  padding: 1em;
}

select {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
  width: 25%;
  background-color: white;
}

option {
  text-align: center;
  background-color: white;
  font-size: 1.2rem;

}
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.center-dropdown {
  margin-top: 20px;
}
.center-dropdown select {
  width: 50%;
}

button{
  margin-top: 20px;
  padding: 1em;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.next-button{
  position: absolute;
  bottom: 40%;
  background-color: rgb(92, 92, 197);
  color: white;
}
.next-button-right{
  position: absolute;
  bottom: 50%;
  right:20%;
  background-color: rgb(92, 92, 197);
  color: white;
}
.back-button-left{
  position: absolute;
  bottom: 50%;
  left:20%;
  background-color: rgb(197, 92, 92);
  color: white;
}
.dropdown-list{
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 5px;
  /* border: 1px solid black; */
  width: 50%;
  /* background-color: white; */
}
.dropdown-subjects{
  margin: 0 auto;
  display: block;
  
  text-align: center;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 5px;
  /* border: 1px solid black; */
  width: 50%;
  /* background-color: white; */
}
.dropdown-inner{
    display: inline-block;
    margin: 1em;
}

.center{
  display: flex;
  justify-content: center;
}